# Configurações da API OpenRouter
OPENROUTER_API_KEY=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

# Configurações do WhatsApp (API Brasil)
WHATSAPP_EMAIL=contato.fabbri@gmail.com
WHATSAPP_PASSWORD=Command123@!
WHATSAPP_DEVICE_TOKEN=5b446895-e510-470c-920c-6861a3aef930

# Configurações da aplicação
APP_URL=http://localhost:3000
APP_NAME=Logzone API

# Configurações do banco de dados
MONGO_URI=mongodb://localhost:27017/logzone
MONGO_URI_TEST=mongodb://localhost:27017/logzone_test

# Porta da aplicação
PORT=3000
